# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Django
staticfiles/
media/

# Environment variables
.env

# Logs
*.log

# Node / Next.js
node_modules/
.next/
out/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/